body{
      margin: 0;
      padding: 0;
      background-color:  hsl(47, 88%, 63%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-family: "Figtree", sans-serif;
    }

    .card-layout{
      background-color: hsl(0, 0%, 100%);
      padding: 24px;
      width: 330px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      gap: 25px;
      border: 1px solid black;
      box-shadow: 10px 10px black;
    }

    .illustration-image{
      border-radius: 15px;
    }

    .card-details{
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
    }

    span{
      color: black;
      font-weight: 700;
      background-color:hsl(47, 88%, 63%);
      padding: 7px 15px;
      border-radius: 5px;
      font-size: 14px;
      
    }
    .publish-date{
      font-size: 14px;
      color: hsl(0, 0%, 7%);
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h1{
      font-size: 24px;
      font-weight: 950;
      cursor: pointer;
      transition: 0.1s;
    }

    h1:hover{
      color: hsl(47, 88%, 63%);
    }


    .content{
      color: hsl(0, 0%, 42%);
      font-size: 16px;
    }
    .profile-details{
      display: flex;
      gap: 15px;
      align-items: center;
    }

    .profile-pic{
      width: 40px;
      height: 40px;
    }

    .profile-name{
      font-size: 14px;
      color: hsl(0, 0%, 7%);
      font-weight: 950;
    }

    @media (max-width:1024px) {
      body{
      height: 100vh;
      }

      .card-layout{
        padding: 15px;
        width: 250px;
        height: 400px;
        gap: 25px;
        box-shadow: 8px 8px black;
      }

      .illustration-image{
        width: 250px;
      }

      .card-details{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
      }

      span{
        padding: 4px 12px;
        font-size: 14px;
      }
      .publish-date{
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      h1{
        font-size: 20px;
      }
      .content{
        font-size: 13px;
        margin-bottom: 20px;
      }
      .profile-details{
        gap: 15px;

      }
      .profile-pic{
        width: 32px;
        height: 32px;
      }
      .profile-name{
        font-size: 14px;
        margin: 0;
      }
    }